{% include 'shared/layout_nobar.html' %}
{% block content %}
<div class="container">
    <div class="card text-center mt-5 ml-auto mr-auto" style="width: 40%;">
        <div class="card-body">
            <p class="card-title">Sign In</p>
            <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                <div class="form-group row">
                    <label for="username" class="col-sm-3 col-form-label">username</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" name="password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-3">Submit</button>
                <button type="button" class="btn btn-light ml-3">
                    <a href="{% url 'register'%}">Register</a>
                </button>
            </form>                
        </div>
    </div>
</div>
{% endblock %}